@font-face {
    font-family: car;
    src: url(/images/Sakana.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-image: url(https://www.hdwallpapers.in/download/blue_car_car_fenyr_supersport_sport_car_4k_hd_cars-3840x2160.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    color: #00c8ff;
    text-shadow: 0 0 5px #00c8ff, 0 0 2px #66e0ff;
    font-size: 120px;
    text-align: center;
    padding-top: 50px;
    font-family: car;
    
}
button{
    padding: 10px;
    margin-top: 20px;
    margin-left: 790px;
    background-color: rgb(239, 244, 244);
    border: none;
    border-radius: 8px;
}